#root {
  max-width: 1280px;
  margin: 10px 10px;
  padding: 0;
  background-color: #242424;
  color: white;
}

#root > h1 {
  width: 50%;
}

p {
  margin: 0;
}

.hero-card {
  display: flex;
  width: 100%;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-card {
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.no-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  color: #999;
  font-size: 1.2em;
}

.hero-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px;
  width: 50%;
  background-color: #f9f9f9;
  color: black;
}

.hero-details h1 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.hero-details h2 {
  margin: 8px 0 0;
  font-size: 18px;
  color: #666;
}

.hero-details h3 {
  margin: 8px 0 0;
  font-size: 18px;
  color: #999;
  display: flex;
  align-items: center;
}
